/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  
}

/*UTILITY*/
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.button {
    display: inline-block;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    padding: 13px 20px;
    margin-top: 35px;
    color: white;    
}

.mrg {
    margin: auto;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.tx-al {
    text-align: center;
}

.f-s {
    font-size: 14px;
}

/*HEADER*/
header {
    width: 100vw;
    background-color: #3161e0;
}

header .container-header {
    width: 70%;
}

.logo {
    width: 30%;
    padding: 19px 0;
}

.navigation {
    width: 70%;
    padding: 30px 0;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    text-decoration: none;
    color: #ffffff;
    padding-right: 45px;
}

.navigation ul li a:hover{
    text-decoration: underline;
}

.navigation ul li:last-child a {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 14px;
    border-radius: 25px;
}

/*BANNER*/
.banner{
    width: 100vw;
    position: relative;
}

.banner .banner-image {
    height:386px;
}

.banner .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .banner-text {
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
} 

.banner-text h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.banner-text p {
    line-height: 1.6;
}

.banner-button {
    background-color: white;
    color: black;
    margin-right: 20px;
}

.banner-button2 {
    background-color: #23272a;
    color: white;
}